<form  method="post" action="/users/signin">
  <p>
    <input name="username" id="username" value=""></input>
  </p>
  <p>
    <input name="password" id="password" value=""></input>
  </p>
  <p>
    <button type='submit'>Sign in</button>
  </p>
</form>
